
.carousel-item img {
    height: 350px !important;
}
.bio{
    width: 75% !important; 
}
.azul{
    background-color: #033D7F;
}
.nav-item a {
    font-size: 1.4rem;
}
.logo img{
    width: 80px;
}
.azuk-claro{
    color: rgb(75, 75, 206) !important;
}
.rd_social{
    display: flex;
}
.contato{
    gap: 10px;
}
.containerVideo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.containerVideo video { 
    border-radius: 8px;
}
@media (max-width: 767px){
    .contato h3{
        font-size: 16px;
    }
    .contato input{
        height: 2em;
        width: 90% !important;
    }
    
}

@media (min-width: 768px){
    .carousel-item {
        width: 90% !important;
        height: 700px !important;
        margin-top: 10px;
    }
    .carousel-item img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
    }
    .carousel-inner{
        left: 55%;
        transform: translate(-50%, 0);
        /* background-color: white !important; */
    }
    
    .bio{
        display: flex !important;
        width: 87.8% !important; 
        gap: 70px;
    }
    .bio p {
        flex-wrap: wrap !important;
        
    }
    .p-6{
        padding: 20px 65px !important;
    }
    .rd_social{
        order: 1;
    }
    .navbar-toggler{
        order: 0;
    }
    .contato{
        gap: 10px;
    }
    .contato input{
        height: 2em;
    }
}