*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    max-width: 1366px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
nav{
    width: 100vw;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #033D7F;
    font-size: 1.2em;
    height: 4em;
    
}
.max-wid1300{
    gap: 220px;
}


/* .navbarWidth{
    max-width: 1366px;
} */

.img_carrousel{
    width: 1040px;
    height: 600px;
}

.bio{
    max-width: 800px;
}
.bio img{
    width: 400px;
}
.imgLogo{
    width: 140px;
}
.margin{
    margin: 0 100px;
}
.icon{
    margin-top: 10px;
}

.icon img{
    width: 100px;
}
.icon img:hover{
    transform: translate();
}

@media (max-width: 768px){
    body{
        width: 600px;
    }
}